{erl_opts, [debug_info]}.
{deps, [
    {cowboy,        {git, "https://github.com/ninenines/cowboy.git",             {tag, "2.12.0"}}},
    {jiffy,         {git, "https://github.com/davisp/jiffy.git",                 {tag, "1.1.2"}}},
    {replayq, ".*", {git, "https://github.com/emqx/replayq.git",                 {tag, "0.3.8"}}},
    {gun, ".*",     {git, "https://github.com/ninenines/gun.git",                {tag, "2.1.0"}}},
    {rocksdb,       {git, "https://github.com/1xtel/rocksdb_v2.git",             {tag, "v1.0.1"}}},
    {prometheus,    {git, "https://github.com/deadtrickster/prometheus.erl.git", {tag, "v4.11.0"}}},
    {brod,          {git, "https://github.com/kafka4beam/brod.git",              {tag, "4.3.3"}}},
    {eredis,        {git, "https://github.com/wooga/eredis.git"}},
    {grpcbox,       {git, "https://github.com/tsloughter/grpcbox.git"}},
    {elocaltime,{git, "https://github.com/silviucpp/elocaltime.git", {branch, "master"}}},
    {gproc, {git, "https://github.com/uwiger/gproc.git", {branch,"master"}}},
    {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.21.1"}}},
    {recon,      {git, "https://github.com/ferd/recon.git",       {tag,"2.5.6"}}}
 

]}.

{shell, [
    {config, "config/sys.config"},
    {apps,   [jiffy, gun, brod, replayq, recon, gproc, grpcbox ,eredis, elocaltime, url_shortener]}
]}.

{grpc, [{protos, "priv/protos"},
        {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin]}.

{relx,
  [
    {
      release,{url_shortener, "0.0.1"},
      [cowboy, sasl, ssl, jiffy, replayq, brod, gproc, recon, grpcbox, rocksdb, gun, prometheus, elocaltime, url_shortener]
    },
    {vm_args,     "./config/vm.args"},
    {sys_config,  "./config/sys.config"},
    {mode, prod}
  ]
}.